@font-face{
  font-family: Dilana;
  src: url(dilana.ttf)
}

.banner{
  /* background-image: url(small-banner.png); */
  background-size: 'contain';
  background-repeat: no-repeat;
  display: inline-block;
  width: 140px;
  position: relative;
  top: 20px;
  height: 20px;
}

#capital{
  position: relative;
  bottom: 22px;
  left: 16px;
}

#capital-rest{
  position: relative;
  bottom: 22px;
  left: 16px;
  font-weight: bold;
}

.banner-container{
  display: flex;
  justify-content: space-between;
  margin-top:12px;
  padding-bottom:30px;
  /* padding-left: 16px; */
  /* border-bottom: 1px solid rgb(0,0,0,0.8); */
}

@media (max-height: 400px) {

  .banner-container{
    display: flex;
    justify-content: flex-start;
    margin-top:12px;
    padding-bottom:30px;
    border-bottom: 0px solid black;
  }
}
