.score{
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}

.score:first-child{
  padding-left: 0px;
}

.score-field{
  width: fit-content;
  max-width: 160px;
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: white;
  border: solid 2px;

}

@media (max-height: 400px) {
  .score{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 8px;
  }
  .score-field{
    max-width: 160px;
    width: 100%;
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
    border: solid 2px;
  }

  .score > *{
    padding-right: 0px;
  }
}