.storyteller-message {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 8px;
  position: relative;
  top: 0px;
  right: 0px;
}

@media (max-height: 400px) {

  /* transform: translate(-50%, -50%); */
  .storyteller-message{
    position: fixed;
    top: 8px;
    right: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 180px;
    margin-top: 0px;
  }
}
/* @keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

@font-face{
  font-family: Dilana;
  src: url(dilana.ttf)
}

#capitalS{
  position: relative;
  color:rgb(228,213,116);
}

#capitalS-rest{
  position: relative;
  bottom: 2px;
  color:rgb(228,213,116);

}
