.origin{
    padding: 8px;
    background: linear-gradient(166deg, rgba(255,152,0,1) 0%, rgba(254,248,128,1) 100%);
    height: 98.8%;
    display: grid;
    grid-template-rows: 70px auto 70px;
    grid-template-columns: auto;
}

@media (max-height: 400px) {
    .origin{
        display: grid;
        grid-template-rows: 70px auto;
        grid-template-columns: auto 35%;
        height: 96.8%;
    }

    .origin-inner{
        grid-column-start: 1;
        /* grid-column-end: 1; */
        /* grid-row-start: 2; */
        /* grid-row-end: 2; */
        border-top: 2px solid black;
    }

    .origin-footer{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }


}