.transition-message {
  /* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  /* padding: 10px 20px; */
  border-radius: 5px;
  /* margin-top: 12px; */
  padding: 8px;
  align-self: flex-end;
  margin: auto;
  margin-bottom: 16px;
  /* animation: fadeOut 4s forwards; */
}

.title{
  display: flex; 
  justify-content: center;
  align-items: flex-end;
}

/* @keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

@media (max-height: 400px) {
  .transition-message{
    position: fixed;
    top: 16px;
    left: 210px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-top: 0px;
  }

  .title{
    display: none;
    height: 100%;
  }
}

@font-face{
  font-family: Dilana;
  src: url(dilana.ttf)
}

#capitalS{
  position: relative;
  color:rgb(228,213,116);
}

#capitalS-rest{
  position: relative;
  bottom: 2px;
  color:rgb(228,213,116);

}
